## Analyze 2016 factory seoul
도심 봉제산업 생태계 네트워크 분석 프로젝트 - 중랑구를 중심으로

작업프레임 참조 : http://pbpython.com/notebook-process.html

## Data Sources
중랑구 봉제 기업이전의사 분석 
작성 정락현, joungna@hotmail.com

## Changes
2016.6.4 중랑구 묵동일원 봉제조사 
2018.11.15 초기 데이터 분석 시작
2018.11.20 설문 재조사 추진

In [61]:
import pandas as pd
from pathlib import Path
from datetime import datetime

#### Data Set File Locations

In [82]:
today = datetime.today()
train = Path.cwd() / "data" / "raw" / "train.csv"
test = Path.cwd() / "data" / "raw" / "test.csv"
#pipeline_file = Path.cwd() / "data" / "raw" / "pipeline_data.xlsx"
summary_file = Path.cwd() / "data" / "processed" / f"summary_{today:%b-%d-%Y}.pkl"

In [83]:
df_train = pd.read_csv(train)
df_test = pd.read_csv(test)

In [85]:
df_test.head()

,no,Organization type,Owning,deposit,monthly,location,area,stay,industry,manpower,sub_term,association,Government support,move_Intention,move_area,move_monthly,move_deposit
0,71,1,3,2000,165,4,90,2000,5,14,2,2,1,1,60,60,2000
1,72,2,3,2500,176,3,25,2014,5,2,2,2,1,1,50,40,1000
2,73,1,3,500,35,2,20,2014,4,3,1,2,1,0,0,0,0
3,74,2,3,1000,105,2,50,2013,5,5,1,2,1,1,50,100,1000
4,75,1,3,2000,80,4,35,2006,5,3,2,1,1,0,0,0,0

#### Column Cleanup
- 빈칸 이동(삭제), consistency columns 이름 수정

In [73]:
# https://stackoverflow.com/questions/30763351/removing-space-in-dataframe-python
df.columns = [x.strip() for x in df.columns]

In [74]:
cols_to_rename = {'col1': 'New_Name'}
df.rename(columns=cols_to_rename, inplace=True)

#### Clean Up Data Types
-

In [75]:
df.dtypes

no                    int64
Organization type     int64
Owning                int64
deposit               int64
monthly               int64
location              int64
area                  int64
stay                  int64
industry              int64
manpower              int64
sub_term              int64
association           int64
Government support    int64
move_Intention        int64
move_area             int64
move_monthly          int64
move_deposit          int64
dtype: object

#### Data Manipulation
- 인위적인 데이터 조작을 했을 경우 기입

#### Save output file into processed directory
작업완료 파일 저장

In [70]:
df.to_pickle(summary_file)

#### (참고)파이썬 객체 관리 확인
생성된 파이썬 객체를 파일로 저장하는 경우에는 보통 .pkl이라는 확장자를 사용

In [86]:
from pickle import dump, load
f = open("data/raw/test.csv", "r",encoding='cp949')